header,footer {
  height: 54px;
  background-color: #333;
}

header > a {
  display: flex; align-items: center; height: 100%; margin: 0 10px;
}
header > a > img { width: 40px; margin-right: 4px;}

main { min-height: calc(100vh - 108px);}

section, aside {
  padding: 4px 12px;
}

#sec-disclaimer {
  background-color: lightsteelblue;
}

footer { display: flex; flex-direction: column; align-items: center; justify-content: center;}

.b1 { font-weight: bold; font-family: Audiowide;}

.channels {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}
