header, footer { height: 60px; background-color: #333;}
main { min-height: calc(100vh - 120px);}

header img {
  width: 40px;
  height: 40px;
}

.logo {
  display: flex;
  align-items: center;
  height: 60px;
  margin-left: 12px;
}

section {
  padding: 8px 12px;

}

#sec1 {
  background-color: lightseagreen;
}

.channels {
  margin: 12px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}